<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech2etc Ecommerce Tutorial</title>
  <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='Css/style.css') }}">
</head>

  <body>

    <h1>Hello, you are logged in!</h1>
    <a> href="{{url_for("logout")}}">Press here to logout</a>


  </body>
</html>
